*{
    scroll-behavior:smooth;
}
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
@media only screen and (max-width: 990px){

}
#intro{
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: center;
    height: 90vh;
}
#intro-img{
    border-radius:120px ;
}
#heading{
    color: rgb(17, 122, 136);
    font-family: 'East Sea Dokdo', cursive;
    margin: 12px;
}
.para{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.btn{
    background-color:  rgb(30, 166, 184);
    color: white;
}
.list-edu{
    font-weight: bold;
    font-size: larger;
}
#about{
   min-height: 100vh;
   height: auto;
   

}
#about-content{
    display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}
.link{
    text-decoration: none;
    color: black;
}
#services{
background-color: black;
/* color: white; */
padding-top: 20px;
min-height: 100vh;
height: auto;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}
.para-b{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}
.card{
    margin: 20px 0px;
    height: auto;
    width:100%
}
.cards{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items:center ;
    justify-content: center;
}
#contact{
    margin-top: 10px;
    min-height: 100vh;
    height: auto;
}